* {
    font-family: 'Press Start 2P'; 
    line-height: 1.6; 
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #222;
    color: white;
    margin: 0;
}

/* HUD do jogador */
.info_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 250px;
    height: 80px;
    background-color: white;
    border-radius: 0 15px 15px 15px;
    border: 2px solid black;
    padding: 0.4rem;
    position: absolute;
    top: 10px;
    left: 10px;
}

.info_user {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: black;
}

.bar {
    width: 100%;
    height: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 0.6rem;
}

.vida {
    background-color: rgb(255, 38, 38);
}

.energia {
    background-color: rgb(48, 189, 189);
    margin-bottom: -1px;
}

.estamina {
    height: 30px;
    margin-top: 1px;
    margin-bottom: 4px;
    padding-bottom: 2px;
    background-color: rgb(1, 177, 30);
    border-radius: 5px;
}

/* Chat */
.chat-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 20px;
    overflow: hidden;
    transition: height 0.3s ease;
    background: rgba(100, 100, 100, 0.35);
    border-top-right-radius: 10px;
}

.chat-container:hover {
    height: 450px;
}

.chat-box {
    padding: 5px;
    height: 400px;
    overflow-y: auto;
    font-size: 0.7rem;
}

/* Estilo para a caixa de input do chat */
#chatInput {
    background-color: #000;
    border: 2px solid #8B4513; /* Borda cor de madeira */
    color: #00FF00; /* Cor do texto "verde de terminal" */
    font-family: 'Press Start 2P', cursive; /* Fonte do estilo retrô */
    padding: 10px;
    font-size: 12px;
    width: calc(100% - 24px); /* Ajusta a largura com o padding e a borda */
    box-sizing: border-box; /* Garante que padding e borda não aumentem a largura total */
    outline: none;
    text-shadow: 1px 1px 2px #000;
}

/* Efeito de foco para o input */
#chatInput:focus {
    border-color: #FFD700; /* Borda dourada ao focar */
    box-shadow: 0 0 5px #FFD700;
}
